@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.icon-gradient {
  fill: url(#gradient-fill);
}

.icon-gradient svg {
  width: 24px;
  height: 24px;
}

/* Optional: Define a default size for your icons */
.icon-gradient {
  width: 1.5rem;
  height: 1.5rem;
}

/* Define the gradient */
.svg-gradient {
  background: linear-gradient(to top right, #6b21a8, #ef4444);
  -webkit-background-clip: text;
  background-clip: text;
  fill: transparent;
}

/* styles.css */
.AccordionChevron {
  transition: transform 300ms;
}
.AccordionTrigger[data-state="open"] > .AccordionChevron {
  transform: rotate(180deg);
}
/* styles.css */
.AccordionContent {
  overflow: hidden;
}
.AccordionContent[data-state="open"] {
  animation: slideDown 300ms ease-out;
}
.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: 100px;
  }
}

@keyframes slideUp {
  from {
    height: 100px;
  }
  to {
    height: 0;
  }
}
